* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #515076;
    margin: 0;
    padding: 20px 30px;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: 790px 697px;
}

.buttons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 0 50px auto;
}

.js-btn {
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 180px;
}

.button-toggle {
    background-color: rgb(132, 21, 184);
}

h1 {
    font-size: 70px;
    line-height: 78px;
    font-weight: 400;
    text-align: center;
    margin-top: 220px;
    padding: 0px;
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
}

.text {
    font-size: 13px;
    font-weight: 400;
}

.product-label {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #A5A3B9;
    text-transform: uppercase;
}

.card-img {
    margin: 5px 10px auto;
    width: 290px;
    height: 250px;
    border-radius: 5px;
}

.product-list {
    margin: 0 auto;
    padding: 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 45px;
    max-width: 1110px;
}

.card {
    width: 360px;
    min-height: 560px;
    padding: 25px;
    margin: 45px;
    background-color: #f7f7fa;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px;
}


.list {
    padding-left: 15px;
    max-height: fit-content;
    font-size: 13px;
    height: 100%;
}

.price {
    display: flex;
    margin: 25px 0;
    font-size: 20px;
    justify-content: space-between;
    align-items: flex-end
}
